div{
    line-height: 35px;
}
.title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
.picture{
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    right: 9px;
}
.section{
    background-color:   lightblue;
    color: rgb(77, 151, 211);
    font-size: 24px;
    font-weight: bold;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
}
.stat{
    display: block;
}
.info{
    display: inline-block;
}
.text-color1{
    color: rgb(40, 40, 102);
    font-weight: bold;
}
.text-color2{
    color: rgb(77, 151, 211);
    font-weight: bold;
}